h1{
    font-family: KaiTi;
}
.footer{
    background-color: black;
    color           : white;
    clear           : both;
    text-align      : center;
    padding         : 5px;
    position        :fixed;  
    bottom          :0px;  
}