<div class="tupian">
    <img src="../../../assets/2.jpg" alt="个人信息" height="400px" folat="left">
</div>
    <li>
        <a [routerLink]="['/area']" routerLinkActive="active">三角形面积计算器</a>
    </li>
    <li>
        <a [routerLink]="['/color']" routerLinkActive="active">自动变换颜色</a>
    </li>
    <li>
        <a [routerLink]="['/grade1']" routerLinkActive="active">成绩等级计算器</a>
    </li>
    <li>
        <a [routerLink]="['/information']" routerLinkActive="active">我和我的祖国</a>
    </li>
    <li>
        <a [routerLink]="['/temperature1']" routerLinkActive="active">温度转换器</a>
    </li>
    <li>
        <a [routerLink]="['/table']" routerLinkActive="active">四个方向的九九乘法表</a>
    </li>
    <li>
        <a [routerLink]="['/register']" routerLinkActive="active">用户信息注册</a>
    </li>
    <router-outlet></router-outlet>