<div id="container">
  <div id="photo"><img src="https://github.com/ELHAMJOHN/networkhomework/blob/master/src/assets/QQ%E5%9B%BE%E7%89%8720210605124413.jpg?raw=true" height="200" width="200" />
  </div>
  <div id="content">
    <h3>个人信息</h3>
    <div id="text">姓名：阿依姆妮萨</div>
    <div id="text">班级：信科18-2</div>
    <div id="text">学号：18105010242</div>
    <div id="text">兴趣爱好：旅行，跳舞，打篮球，单吉他</div>
  </div>
</div>
<h3> </h3>
<li>
  <a [routerLink]="['/area']" routerLinkActive="active">三角形面积计算器</a>
</li>
<li>
  <a [routerLink]="['/color']" routerLinkActive="active">自动变换颜色</a>
</li>
<li>
  <a [routerLink]="['/grade1']" routerLinkActive="active">成绩等级计算器</a>
</li>
<li>
  <a [routerLink]="['/information']" routerLinkActive="active">我和我的祖国</a>
</li>
<li>
  <a [routerLink]="['/temperature1']" routerLinkActive="active">温度转换器</a>
</li>
<li>
  <a [routerLink]="['/table']" routerLinkActive="active">四个方向的九九乘法表</a>
</li>
<li>
  <a [routerLink]="['/register']" routerLinkActive="active">用户信息注册</a>
</li>
<router-outlet></router-outlet>