.active {
  color: red;
}

li {
  margin: 10px 20px;
  font-size: 20px;
}
#container {
  width: 100%;
}
#photo {
  float: left;
  width: 40%;
}
#content {
  font-size: 15px;
  line-height: 2.5;
  float: right;
  width: 60%;
  height: 600px;
}
