/* You can add global styles to this file, and also import other style files */


* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #111;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
